@import url('https://fonts.googleapis.com/css?family=Aladin');

* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html,
body {
   margin: 0;
   padding: 0;
   font-family: 'Aladin', cursive;
   background-color: rgba(0, 0, 0, 0.122);
   scroll-behavior: smooth;
}

.container {
   max-width: 980px;
   margin: 0 auto;
   position: relative;
}

header {
   color: #f66f00;
   background-color: #ffffff;
}

.header__menu {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   min-height: 60px;
}

.header__menu .logo {
   height: 50px;
   margin-left: 20px;
}

.header__menu-list {
   transition: all 0.5s;
   z-index: 20;
}

.header__menu-item {
   display: inline;
   padding: 0 10px;
}

.header__menu-link {
   text-decoration: none;
   padding: 11px 10px;
   line-height: 40px;
   color: #f66f00;
}

.header__menu-link:hover {
   text-decoration: underline;
}

.navbar-toggler {
   background-color: transparent;
   border: none;
   outline: none;
   width: 45px;
   height: 45px;
   color: #f66f00;
   font-size: 35px;
   margin-right: 20px;
   z-index: 30;
}

.collapse:not(.show) {
   display: none;
}

.show .header__menu-list {
   display: flex;
   position: absolute;
   flex-wrap: wrap;
   justify-content: center;
   left: 0;
   top: -16px;
   height: 100vh;
   width: 100%;
   padding: 0;
   background: rgba(0, 0, 0, 0.9);
   align-items: center;
   flex-direction: column;
   transition: all 0.5s;
}

.show .header__menu-item {
   margin: 10px 0;
}

main > div,
.subject > div {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   background-blend-mode: darken;
}

main > div p {
   color: #ffffff;
   text-align: justify;
   font-size: 20px;
   max-width: 500px;
   padding: 0 10px;
}

.main-bg {
   color: #f66f00;
   background: url(../img/main-bg.jpg) left / cover no-repeat;
   position: relative;
   min-height: 383px;
}

.main-bg h1 {
   position: absolute;
   max-width: 190px;
   top: 20px;
   left: 20px;
   font-size: 30px;
}

.description {
   background: url(../img/lake-ereen.jpg) center no-repeat, rgba(0, 0, 0, 0.376);
   min-height: 585px;
}

.subject > div {
   width: 100%;
}

.subject > div:nth-child(1) {
   background: url(../img/pack_in_flight.jpg) center no-repeat, rgba(0, 0, 0, 0.376);
   min-height: 585px;
}

.subject > div:nth-child(2) {
   background: url(../img/pack.jpg) center no-repeat, rgba(0, 0, 0, 0.376);
   min-height: 585px;
}

.subject > div:nth-child(3) {
   background: url(../img/constructor.jpg) center no-repeat, rgba(0, 0, 0, 0.376);
   min-height: 585px;
}

.conclusion {
   background: url(../img/trees.jpg) center no-repeat, rgba(0, 0, 0, 0.376);
   min-height: 585px;
}

.subscribe {
   background: url(../img/crash.jpg) center no-repeat, rgba(0, 0, 0, 0.376);
   background-size: cover;
   min-height: 500px;
}

.subscribe form {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}

.subscribe form input {
   height: 40px;
}

.subscribe form input,
.subscribe form textarea {
   width: 100%;
   margin: 10px 0;
   padding: 10px;
   opacity: 0.8;
}

.subscribe form label {
   display: none;
   color: #ffffff;
   text-align: left;
   margin: 0 10px;
}

.subscribe form textarea {
   min-height: 120px;
}

.subscribe form input[type='submit'] {
   max-width: 250px;
   border-radius: 10px;
}

footer {
   height: 180px;
   color: #eeeded;
   background-color: #131313;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

footer p {
   font-size: 1.5rem;
}

.text-center {
   text-align: center;
}

.row {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   width: 100%;
}

/* For mobile phones: */
[class~='col'] {
   width: 100%;
   padding: 5px 10px;
}

/* For desktop */
@media only screen and (min-width: 600px) {
   .col-1 {
      width: 8.33%;
   }
   .col-2 {
      width: 16.66%;
   }
   .col-3 {
      width: 25%;
   }
   .col-4 {
      width: 33.33%;
   }
   .col-5 {
      width: 41.66%;
   }
   .col-6 {
      width: 50%;
   }
   .col-7 {
      width: 58.33%;
   }
   .col-8 {
      width: 66.66%;
   }
   .col-9 {
      width: 75%;
   }
   .col-10 {
      width: 83.33%;
   }
   .col-11 {
      width: 91.66%;
   }
   .col-12 {
      width: 100%;
   }

   .subscribe form label {
      display: block;
   }
}

@media only screen and (min-width: 700px) {
   header {
      position: absolute;
      z-index: 999;
      background: transparent;
      width: 100%;
   }

   .navbar-toggler {
      display: none;
   }

   .collapse:not(.show) {
      display: block;
   }

   .show {
      display: none;
   }

   .header__menu-list {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding: 0;
      margin: 0;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      height: 100%;
   }

   .main-bg {
      height: 600px;
      background-position: center;
      background-size: cover;
   }

   .main-bg h1 {
      top: 50px;
      max-width: 300px;
      font-size: 3rem;
   }
}
