:root {
  --main-color: #131313;
  --header-color: #f66f00;
  --footer-color: #eeeded;
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--header-color);
  border: 1px solid #eee;
}
.container {
  max-width: 980px;
  margin: 0 auto;
}
article h3 {
  color: var(--main-color);
}
.header {
  height: 100vh;
  background-color: transparent;
  border: 1px solid gray;
  position: relative;
  background: url(../img/main-bg.jpg) center no-repeat;
}
.header h1 {
  position: absolute;
  width: 300px;
  top: 80px;
  left: 40px;
  font-size: 3rem;
}
.logo {
  height: 40px;
  float: left;
}
.header__menu {
  list-style: none;
  float: right;
  align-items: center;
  padding: 0;
  margin: 0;
}
.header__menu-item {
  display: inline;
  padding: 0 20px;
}
.header__menu-link {
  text-decoration: none;
  padding: 11px 10px;
  line-height: 40px;
  position: relative;
}
.header__menu-link:hover {
  text-decoration: underline;
}
.first-section h1 {
  margin: 0 0 0 40px;
  width: 250px;
  font-size: 48px;
}
footer {
  height: 180px;
  color: var(--footer-color);
  background-color: #131313;
}