@import url("https://fonts.googleapis.com/css?family=Aladin");

:root {
	--primary-color: #131313;
	--header-color: #f66f00;
	--main-paragraph-color: #fff;
	--footer-color: #eeeded;
	--bg-darken: #00000060;
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Aladin', cursive;
	background-color: #0000001f;
}

.container {
	max-width: 980px;
	margin: 0 auto;
	position: relative;
}

header {
	color: var(--header-color);
	background-color: #ffffff;
}

.header__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 60px;
}

.logo {
	height: 50px;
	margin-left: 20px;
}

.navbar-toggler {
	background-color: transparent;
	font-size: 30px;
	margin-right: 20px;
}

.header__menu-list {
	display: none;		
}

.header__menu-item {
	display: inline;
	padding: 0 10px;
}

.header__menu-link {
	text-decoration: none;
	padding: 11px 10px;
	line-height: 40px;
	color: var(--header-color);
}

.header__menu-link:hover {
	text-decoration: underline;
}

main > div, .subject > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-blend-mode: darken;
}

main > div p {
	color: var(--main-paragraph-color);
	text-align: justify;
	font-size: 20px;
	max-width: 500px;
	padding: 0 10px;
}

.main-bg {
	color: var(--header-color);
	background: left / cover no-repeat url(../img/main-bg.jpg);
	position: relative;
	min-height: 383px;
}

.main-bg h1 {
	position: absolute;
	max-width: 160px;
	top: 20px;
	left: 20px;
	font-size: 36px;
}

.description {
	background: url(../img/lake-ereen.jpg) center no-repeat, var(--bg-darken);
	min-height: 585px;
}

.subject > div {
	width: 100%;
}

.subject > div:nth-child(1) {
	background: url(../img/pack_in_flight.jpg) center no-repeat, var(--bg-darken);
	min-height: 585px;
}

.subject > div:nth-child(2) {
	background: url(../img/pack.jpg) center no-repeat, var(--bg-darken);
	min-height: 585px;
}

.subject > div:nth-child(3) {
	background: url(../img/constructor.jpg) center no-repeat, var(--bg-darken);
	min-height: 585px;
}

.conclusion {
	background: url(../img/trees.jpg) center no-repeat, var(--bg-darken);
	min-height: 585px;
}

.subscribe {
	background: url(../img/crash.jpg) center no-repeat, var(--bg-darken);
	background-size: cover;
	min-height: 500px;
}

.subscribe form {
	display: flex;
	flex-wrap: wrap;
}

.subscribe form input {
	height: 40px;
}

.subscribe form input[type="submit"] {
	max-width: 250px;
	border-radius: 10px;
}

.subscribe form input, .subscribe form textarea {
	width: 100%;
	margin: 10px 0;
	padding: 10px;
	opacity: 0.9;
}

.subscribe form label {
	display: block;
	color: var(--main-paragraph-color);
	text-align: left;
	margin: 0 10px;
}

.subscribe form textarea {
	min-height: 120px;
}

footer {
	height: 180px;
	color: var(--footer-color);
	background-color: #131313;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer p {
	font-size: 1.5rem;
}

.text-center {
	text-align: center;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

/* For mobile phones: */
[class*="col"] { 
  width: 100%;
  padding: 10px;
}

/* For desktop */
@media only screen and (min-width: 600px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

}

@media only screen and (min-width: 700px) {
	header {
		position: absolute;
  		z-index: 999;
  		background: transparent;
  		width: 100%;
	}

	.navbar-toggler {
		display: none;
	}

	.header__menu-list {
		display: none;		
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		padding: 0;
		margin: 0;
		flex: 1;
	}
	
	.main-bg {
		height: 600px;
		background-position: center;
		background-size: cover;
	}

	.main-bg h1 {
		top: 50px;
		max-width: 300px;
		font-size: 3rem;
	}
}
